## DB Driver
DBTYPE=sqlite			# DB type

## SQLITE PATH
FILE=/var/lib/cmdb/sql/cmdb.sql	# Sqlite database file

## MYSQL DB Connectivity
DB=your-mysql-db		# Database name
USER=your-mysql-user		# DB user
PASS=your-user-pass		# DB pass
HOST=your-mysql-host		# DB host
PORT=3306			# DB Port

## DNSA Settings

DIR=/etc/bind/db/		# BIND data directory for zone files
BIND=/etc/bind/			# BIND configuration directory
DNSA=dnsa.conf			# DNSA configuration filename for bind
REV=dnsa-rev.conf		# Reverse zone configuration file for bind
RNDC=/usr/sbin/rndc		# Path to rndc command
CHKZ=/usr/sbin/named-checkzone	# Path to checkzone command
CHKC=/usr/sbin/named-checkconf	# Path to checkconf command
REFRESH=28800			# Zone refresh
RETRY=7200			# Zone retry
EXPIRE=1209600			# Zone expire
TTL=86400			# Zone TTL
PRIDNS=				# Primary DNS server IP
SECDNS=				# Secondary DNS server IP
HOSTMASTER=			# Hostmaster email address
PRINS=				# DNS name of the primary DNS server
SECNS=				# DNS name of the secondary DNS server

## CBC settings

TMPDIR=/tmp/cmdb		# Temporary directory
TFTPDIR=/srv/tftp		# TFTP root directory
PXE=pxelinux.cfg		# Boot config sub-directory
PRESEED=preseed/		# Preseed sub-directory
KICKSTART=ks/			# Kickstart sub-directory
DHCPCONF=/etc/dhcp/dhcpd.hosts	# DHCP config file

